/* line 3, ../scss/styles.scss */
body {
  width: 3200px;
  height: 3200px;
}

/* line 8, ../scss/styles.scss */
.line {
  float: left;
  width: 2580px;
}

/* line 13, ../scss/styles.scss */
.segment {
  float: left;
  width: 800px;
  height: 800px;
  margin: 20px;
  border-radius: 40px;
  border: 10px solid #FFFFFF;
}

/* line 23, ../scss/styles.scss */
.segment a {
  display: block;
  width: 1em;
  height: 1em;
  color: #FEFFFF;
  text-decoration: none;
  font-size: 400px;
  line-height: 1;
  text-shadow: 10px 10px #EEEEEE;
}

/* line 38, ../scss/styles.scss */
#a {
  background-color: #f5aea3;
}

/* line 38, ../scss/styles.scss */
#b {
  background-color: #f5b9a3;
}

/* line 38, ../scss/styles.scss */
#c {
  background-color: #f5c4a3;
}

/* line 38, ../scss/styles.scss */
#d {
  background-color: #f5cfa3;
}

/* line 38, ../scss/styles.scss */
#e {
  background-color: #f5daa3;
}

/* line 38, ../scss/styles.scss */
#f {
  background-color: #f5e4a3;
}

/* line 38, ../scss/styles.scss */
#g {
  background-color: #f5efa3;
}

/* line 38, ../scss/styles.scss */
#h {
  background-color: #eff5a3;
}

/* line 38, ../scss/styles.scss */
#i {
  background-color: #e4f5a3;
}
