$sans-serif : "Helvetica Neue", "Arial", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$serif : "Times New Roman", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;

$container-width: 400%;
$container-height: 400%;

$segmentSize : 800px;
$gutter : 24px;

$common-white: #EFEFEF;

@import "elements";

body{
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

a{
  text-decoration: none;
}

$headerLength : 200px;

#container{
  padding: 900px;
}

header{
  position: fixed;
  left: 0;
  top: 0;
  width: $headerLength;
  height: 100%;
  background: #2F2F2F;
  z-index: 1;
}

$monitorSize : $headerLength - 15;

#monitor{
  margin: ($headerLength - $monitorSize) * 0.5;
  width: $monitorSize;
  height: $monitorSize;
}

#monitor a{
  display: block;
  float: left;
  margin: 1px;
  width: $monitorSize * 0.3;
  height: $monitorSize * 0.3;
  background: #FFFFFF;
  color: #999999;
  text-align: center;
}

#container{
  position: absolute;
  width: 400%;
  height: $container-height;
  
  & > section{
    float: left;
    width: 100%;
  }
}

#intro{
  float: left;
  width: ($segmentSize + (20 + 10) * 2) * 3;
  height: 100% * (100% / $container-height);
}

#home{
  float: left;
  width: 10%;
  height: 200px;
  margin: 40% * (100% / $container-height) 0 0 20px;
  background: red;
}

.line{
  overflow: auto;
  width: ($segmentSize + (20 + 10) * 2) * 5;
//  height: $segmentSize;
  margin-bottom: 100px;
}

.segment{
  float: left;
  width: $segmentSize;
  height: $segmentSize;
  margin: 20px;
  margin-left: 80px;
  //border-radius: 20px;
  border: 1px solid #FFFFFF;
  background-color: #FDFDFD;
  
  p{
    font-family: $serif;
    font-size: 21px;
    margin-bottom: 30px;
  }
    
  .inner{
    margin: 50px;
  }

  h2{
    font-family: $serif;
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  
  h3{
    margin-top: 30px;
    margin-bottom: 15px;
  }
}


p + p{
  margin-bottom: 0;
}

.segment a{
  display: block;
  width: 1em;
  height: 1em;
  color: #FEFFFF;
  font-size: 400px;
  line-height: 1;
  text-shadow:10px 10px #EEEEEE;
}

.label{
  //width: $segmentSize * 0.5;
  background-color: #BBBBBB;
  
  h1, h2{
    color: #FFFFFF;
  }
  
  h1{
    font-family: "Adobe Garamond Pro", $serif;
    font-size: 200px;
    line-height: 1;
    padding-bottom: 100px;
  }
}

#a0{
  background-color: red;
}