$sans-serif : "Helvetica Neue", "Arial", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$serif : "Times New Roman", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;

$container-width: 400%;
$container-height: 400%;

$segmentSize : 800px;
$gutter : 24px;

$common-white: #EFEFEF;

@import "elements";
@import "shCore";
@import "shCoreDefault";

@import "compass/css3/box-shadow";

@import url(http://fonts.googleapis.com/css?family=Lato);

body{
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

a{
  text-decoration: none;
}

$headerLength : 380px;

header{
  position: fixed;
  left: 0;
  top: 0;
  width: $headerLength;
  height: 100%;
  background-color: rgba(#2F2F2F, .92);
  z-index: 99;
  
  ul{
    margin: 20px;
  }
  li{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: white;
    margin-bottom: 4px;
  }
}

.to-about, .to-start, .to-method, .to-property, .to-event{
  font-weight: bold;
  font-size: 24px;
  margin-top: 48px;
  
  &:hover{
    background-color: rgba(#9F9F9F, .92);
  }
}

a li:hover{
  background-color: rgba(#9F9F9F, .92);
}

$monitorSize : $headerLength - 15;

#monitor{
  margin: ($headerLength - $monitorSize) * 0.5;
  width: $monitorSize;
  height: $monitorSize;
}

#monitor a{
  display: block;
  float: left;
  margin: 1px;
  width: $monitorSize * 0.3;
  height: $monitorSize * 0.3;
  background: #FFFFFF;
  color: #999999;
  text-align: center;
}

#container{
  position: absolute;
  //width: 400%;
  height: $container-height;
  
  padding: 300px 90px 900px 0;
  
  & > section{
    float: left;
    width: 100%;
  }
}

#intro{
  float: left;
  width: 1534px;
  height: 1234px;
  background: url(../img/logo.png) no-repeat;
  background-size: contain;
  
  margin-left: $headerLength + 220px;
}

#home{
  float: left;
  width: 10%;
  height: 200px;
}

.line{
  overflow: auto;
  width: ($segmentSize + (20 + 10) * 2) * 4.5;
//  height: $segmentSize;
  margin-bottom: 100px;
  
  //border-bottom: 1px solid rgba(0, 0, 0, .2);
  //@include box-shadow(rgba(255, 255, 255, .3)0 1px 0);
}

.segment{
  float: left;
  width: $segmentSize;
  //height: $segmentSize;
  margin: 20px;
  margin-right: 80px;
  //border-radius: 20px;
  border: 1px solid #FFFFFF;
  background-color: #FDFDFD;
  
  p{
    font-family: $serif;
    font-size: 21px;
    margin-bottom: 30px;
  }

  li p{
    font-family: $sans-serif;
    font-size: 18px;
  }
      
  .inner{
    margin: 50px;
  }

  h2{
    font-family: $serif;
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  
  h3{
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  &[id$="2"]{
    //background-color: red;
  }
}


p + p{
  margin-bottom: 0;
}

.label{
  //width: $segmentSize * 0.5;
  //background-color: #BBBBBB;
  position: relative;
  margin-right: 80px + 200px + 100px;
  margin-left: 0;
  padding-left: $headerLength + 220px;
  
  h1, h2{
    color: #FFFFFF;
    font-family: $sans-serif;
  }
  
  h1{
    font-weight: 100;
    letter-spacing: 4px;
    font-size: 200px;
    line-height: 1;
    padding-bottom: 100px;
  }
}

.segment:after {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
  z-index: 10;
}

.segment:after {
	//border-color: rgba(136, 183, 213, 0);
	//border-left-color: #88b7d5;
	border-width: 400px 200px;
	top: 50%;
	margin-top: -400px;
  z-index: 10;
}

#a0{ // about
  background-color: #e74c3c;
  &:after{
    border-left-color: #e74c3c;
  };
}

#a0:hover{
  background-color: #c0392b;
  &:after{
    border-left-color: #c0392b;
  };
}

#b0{
  background-color: #1abc9c;
  &:after{
    border-left-color: #1abc9c;
  };
}

#b0:hover{
  background-color: #16a085;
  &:after{
    border-left-color: #16a085;
  };
}

#c0{
  background-color: #3498db;
  &:after{
    border-left-color: #3498db;
  };
}

#c0:hover{
  background-color: #2980b9;
  &:after{
    border-left-color: #2980b9;
  };
}

#i0{
  background-color: #9b59b6;
  &:after{
    border-left-color: #9b59b6;
  };
}

#i0:hover{
  background-color: #8e44ad;
  &:after{
    border-left-color: #8e44ad;
  };
}

#l0{
  background-color: #e67e22;
  &:after{
    border-left-color: #e67e22;
  };
}

#l0:hover{
  background-color: #d35400;
  &:after{
    border-left-color: #d35400;
  };
}

.example{
  font-size: 25px;
  color: #34495e;
  text-decoration: underline;
}

.line:nth-child(even){
  //background-color: #EFEFEF;
}