@charset "UTF-8";
/* line 3, ../_elements.scss */
body {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 17, ../_elements.scss */
a {
  text-decoration: none;
  color: #efefef;
}
/* line 21, ../_elements.scss */
a:focus, a:active, a::-moz-focus-inner {
  border: none;
  outline: 0;
}

/* line 27, ../_elements.scss */
p, h1, h2, h3, h4, hr, ol, ul, menu {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  line-height: 1.75em;
  margin: 0;
  padding: 0;
}

/* line 39, ../_elements.scss */
img, figure {
  margin: 0;
  padding: 0;
}

/* line 44, ../_elements.scss */
p {
  line-height: 1.75em;
}

/* line 48, ../_elements.scss */
p, h1, h2, h3, h4, b, strong {
  font-family: "Times New Roman", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

/* line 52, ../_elements.scss */
ul, ol, menu {
  list-style-type: none;
}

/* line 56, ../_elements.scss */
h2 {
  font-size: 17px;
  margin-bottom: 6px;
}

/* line 61, ../_elements.scss */
h3 {
  font-size: 25px;
}

/* line 65, ../_elements.scss */
h4 {
  font-size: 22px;
}

/* line 69, ../_elements.scss */
code, pre {
  border: solid 1px #9AACAE;
  border-radius: 4px 4px;
  background: #EFEFEF;
  margin: 5px;
  padding: 2px 5px;
}

/* line 78, ../_elements.scss */
pre {
  margin: 15px 5px;
}

/* line 16, ../styles.scss */
body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 21, ../styles.scss */
a {
  text-decoration: none;
}

/* line 27, ../styles.scss */
#container {
  padding: 900px 900px 900px 0;
}

/* line 31, ../styles.scss */
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 280px;
  height: 100%;
  background: rgba(47, 47, 47, 0.97);
  z-index: 99;
}

/* line 43, ../styles.scss */
#monitor {
  margin: 7.5px;
  width: 265px;
  height: 265px;
}

/* line 49, ../styles.scss */
#monitor a {
  display: block;
  float: left;
  margin: 1px;
  width: 79.5px;
  height: 79.5px;
  background: #FFFFFF;
  color: #999999;
  text-align: center;
}

/* line 60, ../styles.scss */
#container {
  position: absolute;
  width: 400%;
  height: 400%;
}
/* line 65, ../styles.scss */
#container > section {
  float: left;
  width: 100%;
}

/* line 71, ../styles.scss */
#intro {
  float: left;
  width: 2580px;
  height: 25%;
}

/* line 77, ../styles.scss */
#home {
  float: left;
  width: 10%;
  height: 200px;
  margin: 10% 0 0 20px;
  background: red;
}

/* line 85, ../styles.scss */
.line {
  overflow: auto;
  width: 4300px;
  margin-bottom: 100px;
}

/* line 95, ../styles.scss */
.segment {
  float: left;
  width: 800px;
  height: 800px;
  margin: 20px;
  margin-right: 80px;
  border: 1px solid #FFFFFF;
  background-color: #FDFDFD;
}
/* line 105, ../styles.scss */
.segment p {
  font-family: "Times New Roman", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: 21px;
  margin-bottom: 30px;
}
/* line 111, ../styles.scss */
.segment li p {
  font-family: "Helvetica Neue", "Arial", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 18px;
}
/* line 116, ../styles.scss */
.segment .inner {
  margin: 50px;
}
/* line 120, ../styles.scss */
.segment h2 {
  font-family: "Times New Roman", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 30px;
}
/* line 127, ../styles.scss */
.segment h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}

/* line 138, ../styles.scss */
p + p {
  margin-bottom: 0;
}

/* line 142, ../styles.scss */
.label {
  position: relative;
  margin-right: 380px;
  margin-left: 0;
  padding-left: 500px;
}
/* line 150, ../styles.scss */
.label h1, .label h2 {
  color: #FFFFFF;
  font-family: "Helvetica Neue", "Arial", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
/* line 155, ../styles.scss */
.label h1 {
  font-weight: 100;
  letter-spacing: 4px;
  font-size: 200px;
  line-height: 1;
  padding-bottom: 100px;
}

/* line 164, ../styles.scss */
.segment:after {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: 10;
}

/* line 175, ../styles.scss */
.segment:after {
  border-width: 400px 200px;
  top: 50%;
  margin-top: -400px;
  z-index: 10;
}

/* line 184, ../styles.scss */
#a0 {
  background-color: red;
}
/* line 187, ../styles.scss */
#a0:after {
  border-left-color: red;
}

/* line 192, ../styles.scss */
#b0 {
  background-color: green;
}
/* line 195, ../styles.scss */
#b0:after {
  border-left-color: green;
}

/* line 200, ../styles.scss */
#c0 {
  background-color: blue;
}
/* line 203, ../styles.scss */
#c0:after {
  border-left-color: blue;
}

/* line 208, ../styles.scss */
#i0 {
  background-color: yellow;
}
/* line 211, ../styles.scss */
#i0:after {
  border-left-color: yellow;
}
