@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato);
/* line 3, ../_elements.scss */
body {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 17, ../_elements.scss */
a {
  text-decoration: none;
  color: #efefef;
}
/* line 21, ../_elements.scss */
a:focus, a:active, a::-moz-focus-inner {
  border: none;
  outline: 0;
}

/* line 27, ../_elements.scss */
p, h1, h2, h3, h4, hr, ol, ul, menu {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  line-height: 1.75em;
  margin: 0;
  padding: 0;
}

/* line 39, ../_elements.scss */
img, figure {
  margin: 0;
  padding: 0;
}

/* line 44, ../_elements.scss */
p {
  line-height: 1.75em;
}

/* line 48, ../_elements.scss */
p, h1, h2, h3, h4, b, strong {
  font-family: "Times New Roman", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

/* line 52, ../_elements.scss */
ul, ol, menu {
  list-style-type: none;
}

/* line 56, ../_elements.scss */
h2 {
  font-size: 17px;
  margin-bottom: 6px;
}

/* line 61, ../_elements.scss */
h3 {
  font-size: 25px;
}

/* line 65, ../_elements.scss */
h4 {
  font-size: 22px;
}

/* line 69, ../_elements.scss */
code, pre {
  border: solid 1px #9AACAE;
  border-radius: 4px 4px;
  background: #EFEFEF;
  margin: 5px;
  padding: 2px 5px;
}

/* line 78, ../_elements.scss */
pre {
  margin: 15px 5px;
}

/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/SyntaxHighlighter
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/SyntaxHighlighter/donate.html
 *
 * @version
 * 3.0.83 (July 02 2010)
 * 
 * @copyright
 * Copyright (C) 2004-2010 Alex Gorbatchev.
 *
 * @license
 * Dual licensed under the MIT and GPL licenses.
 */
/* line 26, ../_shCore.scss */
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  -moz-border-radius: 0 0 0 0 !important;
  -webkit-border-radius: 0 0 0 0 !important;
  background: none !important;
  border: 0 !important;
  bottom: auto !important;
  float: none !important;
  height: auto !important;
  left: auto !important;
  line-height: 1.1em !important;
  margin: 0 !important;
  outline: 0 !important;
  overflow: visible !important;
  padding: 0 !important;
  position: static !important;
  right: auto !important;
  text-align: left !important;
  top: auto !important;
  vertical-align: baseline !important;
  width: auto !important;
  box-sizing: content-box !important;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 1em !important;
  min-height: inherit !important;
  min-height: auto !important;
}

/* line 55, ../_shCore.scss */
.syntaxhighlighter {
  width: 100% !important;
  margin: 1em 0 1em 0 !important;
  position: relative !important;
  overflow: auto !important;
  font-size: 1em !important;
}

/* line 62, ../_shCore.scss */
.syntaxhighlighter.source {
  overflow: hidden !important;
}

/* line 65, ../_shCore.scss */
.syntaxhighlighter .bold {
  font-weight: bold !important;
}

/* line 68, ../_shCore.scss */
.syntaxhighlighter .italic {
  font-style: italic !important;
}

/* line 71, ../_shCore.scss */
.syntaxhighlighter .line {
  white-space: pre !important;
}

/* line 74, ../_shCore.scss */
.syntaxhighlighter table {
  width: 100% !important;
}

/* line 77, ../_shCore.scss */
.syntaxhighlighter table caption {
  text-align: left !important;
  padding: .5em 0 0.5em 1em !important;
}

/* line 81, ../_shCore.scss */
.syntaxhighlighter table td.code {
  width: 100% !important;
}

/* line 84, ../_shCore.scss */
.syntaxhighlighter table td.code .container {
  position: relative !important;
}

/* line 87, ../_shCore.scss */
.syntaxhighlighter table td.code .container textarea {
  box-sizing: border-box !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  background: white !important;
  padding-left: 1em !important;
  overflow: hidden !important;
  white-space: pre !important;
}

/* line 100, ../_shCore.scss */
.syntaxhighlighter table td.gutter .line {
  text-align: right !important;
  padding: 0 0.5em 0 1em !important;
}

/* line 104, ../_shCore.scss */
.syntaxhighlighter table td.code .line {
  padding: 0 1em !important;
}

/* line 107, ../_shCore.scss */
.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line {
  padding-left: 0em !important;
}

/* line 110, ../_shCore.scss */
.syntaxhighlighter.show {
  display: block !important;
}

/* line 113, ../_shCore.scss */
.syntaxhighlighter.collapsed table {
  display: none !important;
}

/* line 116, ../_shCore.scss */
.syntaxhighlighter.collapsed .toolbar {
  padding: 0.1em 0.8em 0em 0.8em !important;
  font-size: 1em !important;
  position: static !important;
  width: auto !important;
  height: auto !important;
}

/* line 123, ../_shCore.scss */
.syntaxhighlighter.collapsed .toolbar span {
  display: inline !important;
  margin-right: 1em !important;
}

/* line 127, ../_shCore.scss */
.syntaxhighlighter.collapsed .toolbar span a {
  padding: 0 !important;
  display: none !important;
}

/* line 131, ../_shCore.scss */
.syntaxhighlighter.collapsed .toolbar span a.expandSource {
  display: inline !important;
}

/* line 134, ../_shCore.scss */
.syntaxhighlighter .toolbar {
  position: absolute !important;
  right: 1px !important;
  top: 1px !important;
  width: 11px !important;
  height: 11px !important;
  font-size: 10px !important;
  z-index: 10 !important;
}

/* line 143, ../_shCore.scss */
.syntaxhighlighter .toolbar span.title {
  display: inline !important;
}

/* line 146, ../_shCore.scss */
.syntaxhighlighter .toolbar a {
  display: block !important;
  text-align: center !important;
  text-decoration: none !important;
  padding-top: 1px !important;
}

/* line 152, ../_shCore.scss */
.syntaxhighlighter .toolbar a.expandSource {
  display: none !important;
}

/* line 155, ../_shCore.scss */
.syntaxhighlighter.ie {
  font-size: .9em !important;
  padding: 1px 0 1px 0 !important;
}

/* line 159, ../_shCore.scss */
.syntaxhighlighter.ie .toolbar {
  line-height: 8px !important;
}

/* line 162, ../_shCore.scss */
.syntaxhighlighter.ie .toolbar a {
  padding-top: 0px !important;
}

/* line 169, ../_shCore.scss */
.syntaxhighlighter.printing .line.alt1 .content,
.syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number,
.syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content {
  background: none !important;
}

/* line 172, ../_shCore.scss */
.syntaxhighlighter.printing .line .number {
  color: #bbbbbb !important;
}

/* line 175, ../_shCore.scss */
.syntaxhighlighter.printing .line .content {
  color: black !important;
}

/* line 178, ../_shCore.scss */
.syntaxhighlighter.printing .toolbar {
  display: none !important;
}

/* line 181, ../_shCore.scss */
.syntaxhighlighter.printing a {
  text-decoration: none !important;
}

/* line 184, ../_shCore.scss */
.syntaxhighlighter.printing .plain, .syntaxhighlighter.printing .plain a {
  color: black !important;
}

/* line 187, ../_shCore.scss */
.syntaxhighlighter.printing .comments, .syntaxhighlighter.printing .comments a {
  color: #008200 !important;
}

/* line 190, ../_shCore.scss */
.syntaxhighlighter.printing .string, .syntaxhighlighter.printing .string a {
  color: blue !important;
}

/* line 193, ../_shCore.scss */
.syntaxhighlighter.printing .keyword {
  color: #006699 !important;
  font-weight: bold !important;
}

/* line 197, ../_shCore.scss */
.syntaxhighlighter.printing .preprocessor {
  color: gray !important;
}

/* line 200, ../_shCore.scss */
.syntaxhighlighter.printing .variable {
  color: #aa7700 !important;
}

/* line 203, ../_shCore.scss */
.syntaxhighlighter.printing .value {
  color: #009900 !important;
}

/* line 206, ../_shCore.scss */
.syntaxhighlighter.printing .functions {
  color: #ff1493 !important;
}

/* line 209, ../_shCore.scss */
.syntaxhighlighter.printing .constants {
  color: #0066cc !important;
}

/* line 212, ../_shCore.scss */
.syntaxhighlighter.printing .script {
  font-weight: bold !important;
}

/* line 215, ../_shCore.scss */
.syntaxhighlighter.printing .color1, .syntaxhighlighter.printing .color1 a {
  color: gray !important;
}

/* line 218, ../_shCore.scss */
.syntaxhighlighter.printing .color2, .syntaxhighlighter.printing .color2 a {
  color: #ff1493 !important;
}

/* line 221, ../_shCore.scss */
.syntaxhighlighter.printing .color3, .syntaxhighlighter.printing .color3 a {
  color: red !important;
}

/* line 224, ../_shCore.scss */
.syntaxhighlighter.printing .break, .syntaxhighlighter.printing .break a {
  color: black !important;
}

/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/SyntaxHighlighter
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/SyntaxHighlighter/donate.html
 *
 * @version
 * 3.0.83 (July 02 2010)
 * 
 * @copyright
 * Copyright (C) 2004-2010 Alex Gorbatchev.
 *
 * @license
 * Dual licensed under the MIT and GPL licenses.
 */
/* line 26, ../_shCoreDefault.scss */
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  -moz-border-radius: 0 0 0 0 !important;
  -webkit-border-radius: 0 0 0 0 !important;
  background: none !important;
  border: 0 !important;
  bottom: auto !important;
  float: none !important;
  height: auto !important;
  left: auto !important;
  line-height: 1.1em !important;
  margin: 0 !important;
  outline: 0 !important;
  overflow: visible !important;
  padding: 0 !important;
  position: static !important;
  right: auto !important;
  text-align: left !important;
  top: auto !important;
  vertical-align: baseline !important;
  width: auto !important;
  box-sizing: content-box !important;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 1em !important;
  min-height: inherit !important;
  min-height: auto !important;
}

/* line 55, ../_shCoreDefault.scss */
.syntaxhighlighter {
  width: 100% !important;
  margin: 1em 0 1em 0 !important;
  position: relative !important;
  overflow: auto !important;
  font-size: 1em !important;
}

/* line 62, ../_shCoreDefault.scss */
.syntaxhighlighter.source {
  overflow: hidden !important;
}

/* line 65, ../_shCoreDefault.scss */
.syntaxhighlighter .bold {
  font-weight: bold !important;
}

/* line 68, ../_shCoreDefault.scss */
.syntaxhighlighter .italic {
  font-style: italic !important;
}

/* line 71, ../_shCoreDefault.scss */
.syntaxhighlighter .line {
  white-space: pre !important;
}

/* line 74, ../_shCoreDefault.scss */
.syntaxhighlighter table {
  width: 100% !important;
}

/* line 77, ../_shCoreDefault.scss */
.syntaxhighlighter table caption {
  text-align: left !important;
  padding: .5em 0 0.5em 1em !important;
}

/* line 81, ../_shCoreDefault.scss */
.syntaxhighlighter table td.code {
  width: 100% !important;
}

/* line 84, ../_shCoreDefault.scss */
.syntaxhighlighter table td.code .container {
  position: relative !important;
}

/* line 87, ../_shCoreDefault.scss */
.syntaxhighlighter table td.code .container textarea {
  box-sizing: border-box !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  background: white !important;
  padding-left: 1em !important;
  overflow: hidden !important;
  white-space: pre !important;
}

/* line 100, ../_shCoreDefault.scss */
.syntaxhighlighter table td.gutter .line {
  text-align: right !important;
  padding: 0 0.5em 0 1em !important;
}

/* line 104, ../_shCoreDefault.scss */
.syntaxhighlighter table td.code .line {
  padding: 0 1em !important;
}

/* line 107, ../_shCoreDefault.scss */
.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line {
  padding-left: 0em !important;
}

/* line 110, ../_shCoreDefault.scss */
.syntaxhighlighter.show {
  display: block !important;
}

/* line 113, ../_shCoreDefault.scss */
.syntaxhighlighter.collapsed table {
  display: none !important;
}

/* line 116, ../_shCoreDefault.scss */
.syntaxhighlighter.collapsed .toolbar {
  padding: 0.1em 0.8em 0em 0.8em !important;
  font-size: 1em !important;
  position: static !important;
  width: auto !important;
  height: auto !important;
}

/* line 123, ../_shCoreDefault.scss */
.syntaxhighlighter.collapsed .toolbar span {
  display: inline !important;
  margin-right: 1em !important;
}

/* line 127, ../_shCoreDefault.scss */
.syntaxhighlighter.collapsed .toolbar span a {
  padding: 0 !important;
  display: none !important;
}

/* line 131, ../_shCoreDefault.scss */
.syntaxhighlighter.collapsed .toolbar span a.expandSource {
  display: inline !important;
}

/* line 134, ../_shCoreDefault.scss */
.syntaxhighlighter .toolbar {
  position: absolute !important;
  right: 1px !important;
  top: 1px !important;
  width: 11px !important;
  height: 11px !important;
  font-size: 10px !important;
  z-index: 10 !important;
}

/* line 143, ../_shCoreDefault.scss */
.syntaxhighlighter .toolbar span.title {
  display: inline !important;
}

/* line 146, ../_shCoreDefault.scss */
.syntaxhighlighter .toolbar a {
  display: block !important;
  text-align: center !important;
  text-decoration: none !important;
  padding-top: 1px !important;
}

/* line 152, ../_shCoreDefault.scss */
.syntaxhighlighter .toolbar a.expandSource {
  display: none !important;
}

/* line 155, ../_shCoreDefault.scss */
.syntaxhighlighter.ie {
  font-size: .9em !important;
  padding: 1px 0 1px 0 !important;
}

/* line 159, ../_shCoreDefault.scss */
.syntaxhighlighter.ie .toolbar {
  line-height: 8px !important;
}

/* line 162, ../_shCoreDefault.scss */
.syntaxhighlighter.ie .toolbar a {
  padding-top: 0px !important;
}

/* line 169, ../_shCoreDefault.scss */
.syntaxhighlighter.printing .line.alt1 .content,
.syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number,
.syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content {
  background: none !important;
}

/* line 172, ../_shCoreDefault.scss */
.syntaxhighlighter.printing .line .number {
  color: #bbbbbb !important;
}

/* line 175, ../_shCoreDefault.scss */
.syntaxhighlighter.printing .line .content {
  color: black !important;
}

/* line 178, ../_shCoreDefault.scss */
.syntaxhighlighter.printing .toolbar {
  display: none !important;
}

/* line 181, ../_shCoreDefault.scss */
.syntaxhighlighter.printing a {
  text-decoration: none !important;
}

/* line 184, ../_shCoreDefault.scss */
.syntaxhighlighter.printing .plain, .syntaxhighlighter.printing .plain a {
  color: black !important;
}

/* line 187, ../_shCoreDefault.scss */
.syntaxhighlighter.printing .comments, .syntaxhighlighter.printing .comments a {
  color: #008200 !important;
}

/* line 190, ../_shCoreDefault.scss */
.syntaxhighlighter.printing .string, .syntaxhighlighter.printing .string a {
  color: blue !important;
}

/* line 193, ../_shCoreDefault.scss */
.syntaxhighlighter.printing .keyword {
  color: #006699 !important;
  font-weight: bold !important;
}

/* line 197, ../_shCoreDefault.scss */
.syntaxhighlighter.printing .preprocessor {
  color: gray !important;
}

/* line 200, ../_shCoreDefault.scss */
.syntaxhighlighter.printing .variable {
  color: #aa7700 !important;
}

/* line 203, ../_shCoreDefault.scss */
.syntaxhighlighter.printing .value {
  color: #009900 !important;
}

/* line 206, ../_shCoreDefault.scss */
.syntaxhighlighter.printing .functions {
  color: #ff1493 !important;
}

/* line 209, ../_shCoreDefault.scss */
.syntaxhighlighter.printing .constants {
  color: #0066cc !important;
}

/* line 212, ../_shCoreDefault.scss */
.syntaxhighlighter.printing .script {
  font-weight: bold !important;
}

/* line 215, ../_shCoreDefault.scss */
.syntaxhighlighter.printing .color1, .syntaxhighlighter.printing .color1 a {
  color: gray !important;
}

/* line 218, ../_shCoreDefault.scss */
.syntaxhighlighter.printing .color2, .syntaxhighlighter.printing .color2 a {
  color: #ff1493 !important;
}

/* line 221, ../_shCoreDefault.scss */
.syntaxhighlighter.printing .color3, .syntaxhighlighter.printing .color3 a {
  color: red !important;
}

/* line 224, ../_shCoreDefault.scss */
.syntaxhighlighter.printing .break, .syntaxhighlighter.printing .break a {
  color: black !important;
}

/* line 228, ../_shCoreDefault.scss */
.syntaxhighlighter {
  background-color: white !important;
}

/* line 231, ../_shCoreDefault.scss */
.syntaxhighlighter .line.alt1 {
  background-color: white !important;
}

/* line 234, ../_shCoreDefault.scss */
.syntaxhighlighter .line.alt2 {
  background-color: white !important;
}

/* line 237, ../_shCoreDefault.scss */
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #e0e0e0 !important;
}

/* line 240, ../_shCoreDefault.scss */
.syntaxhighlighter .line.highlighted.number {
  color: black !important;
}

/* line 243, ../_shCoreDefault.scss */
.syntaxhighlighter table caption {
  color: black !important;
}

/* line 246, ../_shCoreDefault.scss */
.syntaxhighlighter .gutter {
  color: #afafaf !important;
}

/* line 249, ../_shCoreDefault.scss */
.syntaxhighlighter .gutter .line {
  border-right: 3px solid #6ce26c !important;
}

/* line 252, ../_shCoreDefault.scss */
.syntaxhighlighter .gutter .line.highlighted {
  background-color: #6ce26c !important;
  color: white !important;
}

/* line 256, ../_shCoreDefault.scss */
.syntaxhighlighter.printing .line .content {
  border: none !important;
}

/* line 259, ../_shCoreDefault.scss */
.syntaxhighlighter.collapsed {
  overflow: visible !important;
}

/* line 262, ../_shCoreDefault.scss */
.syntaxhighlighter.collapsed .toolbar {
  color: blue !important;
  background: white !important;
  border: 1px solid #6ce26c !important;
}

/* line 267, ../_shCoreDefault.scss */
.syntaxhighlighter.collapsed .toolbar a {
  color: blue !important;
}

/* line 270, ../_shCoreDefault.scss */
.syntaxhighlighter.collapsed .toolbar a:hover {
  color: red !important;
}

/* line 273, ../_shCoreDefault.scss */
.syntaxhighlighter .toolbar {
  color: white !important;
  background: #6ce26c !important;
  border: none !important;
}

/* line 278, ../_shCoreDefault.scss */
.syntaxhighlighter .toolbar a {
  color: white !important;
}

/* line 281, ../_shCoreDefault.scss */
.syntaxhighlighter .toolbar a:hover {
  color: black !important;
}

/* line 284, ../_shCoreDefault.scss */
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: black !important;
}

/* line 287, ../_shCoreDefault.scss */
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #008200 !important;
}

/* line 290, ../_shCoreDefault.scss */
.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: blue !important;
}

/* line 293, ../_shCoreDefault.scss */
.syntaxhighlighter .keyword {
  color: #006699 !important;
}

/* line 296, ../_shCoreDefault.scss */
.syntaxhighlighter .preprocessor {
  color: gray !important;
}

/* line 299, ../_shCoreDefault.scss */
.syntaxhighlighter .variable {
  color: #aa7700 !important;
}

/* line 302, ../_shCoreDefault.scss */
.syntaxhighlighter .value {
  color: #009900 !important;
}

/* line 305, ../_shCoreDefault.scss */
.syntaxhighlighter .functions {
  color: #ff1493 !important;
}

/* line 308, ../_shCoreDefault.scss */
.syntaxhighlighter .constants {
  color: #0066cc !important;
}

/* line 311, ../_shCoreDefault.scss */
.syntaxhighlighter .script {
  font-weight: bold !important;
  color: #006699 !important;
  background-color: none !important;
}

/* line 316, ../_shCoreDefault.scss */
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
  color: gray !important;
}

/* line 319, ../_shCoreDefault.scss */
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
  color: #ff1493 !important;
}

/* line 322, ../_shCoreDefault.scss */
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
  color: red !important;
}

/* line 326, ../_shCoreDefault.scss */
.syntaxhighlighter .keyword {
  font-weight: bold !important;
}

/* line 20, ../styles.scss */
body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 25, ../styles.scss */
a {
  text-decoration: none;
}

/* line 31, ../styles.scss */
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 380px;
  height: 100%;
  background-color: rgba(47, 47, 47, 0.92);
  z-index: 99;
}
/* line 40, ../styles.scss */
header ul {
  margin: 20px;
}
/* line 43, ../styles.scss */
header li {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
  margin-bottom: 4px;
}

/* line 51, ../styles.scss */
.to-about, .to-start, .to-method, .to-property, .to-event {
  font-weight: bold;
  font-size: 24px;
  margin-top: 48px;
}
/* line 56, ../styles.scss */
.to-about:hover, .to-start:hover, .to-method:hover, .to-property:hover, .to-event:hover {
  background-color: rgba(159, 159, 159, 0.92);
}

/* line 61, ../styles.scss */
a li:hover {
  background-color: rgba(159, 159, 159, 0.92);
}

/* line 67, ../styles.scss */
#monitor {
  margin: 7.5px;
  width: 365px;
  height: 365px;
}

/* line 73, ../styles.scss */
#monitor a {
  display: block;
  float: left;
  margin: 1px;
  width: 109.5px;
  height: 109.5px;
  background: #FFFFFF;
  color: #999999;
  text-align: center;
}

/* line 84, ../styles.scss */
#container {
  position: absolute;
  height: 400%;
  padding: 300px 90px 900px 0;
}
/* line 91, ../styles.scss */
#container > section {
  float: left;
  width: 100%;
}

/* line 97, ../styles.scss */
#intro {
  float: left;
  width: 1534px;
  height: 1234px;
  background: url(../img/logo.png) no-repeat;
  background-size: contain;
  margin-left: 600px;
}

/* line 107, ../styles.scss */
#home {
  float: left;
  width: 10%;
  height: 200px;
}

/* line 113, ../styles.scss */
.line {
  overflow: auto;
  width: 3870px;
  margin-bottom: 100px;
}

/* line 123, ../styles.scss */
.segment {
  float: left;
  width: 800px;
  margin: 20px;
  margin-right: 80px;
  border: 1px solid #FFFFFF;
  background-color: #FDFDFD;
}
/* line 133, ../styles.scss */
.segment p {
  font-family: "Times New Roman", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: 21px;
  margin-bottom: 30px;
}
/* line 139, ../styles.scss */
.segment li p {
  font-family: "Helvetica Neue", "Arial", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 18px;
}
/* line 144, ../styles.scss */
.segment .inner {
  margin: 50px;
}
/* line 148, ../styles.scss */
.segment h2 {
  font-family: "Times New Roman", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 30px;
}
/* line 155, ../styles.scss */
.segment h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}

/* line 166, ../styles.scss */
p + p {
  margin-bottom: 0;
}

/* line 170, ../styles.scss */
.label {
  position: relative;
  margin-right: 380px;
  margin-left: 0;
  padding-left: 600px;
}
/* line 178, ../styles.scss */
.label h1, .label h2 {
  color: #FFFFFF;
  font-family: "Helvetica Neue", "Arial", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
/* line 183, ../styles.scss */
.label h1 {
  font-weight: 100;
  letter-spacing: 4px;
  font-size: 200px;
  line-height: 1;
  padding-bottom: 100px;
}

/* line 192, ../styles.scss */
.segment:after {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: 10;
}

/* line 203, ../styles.scss */
.segment:after {
  border-width: 400px 200px;
  top: 50%;
  margin-top: -400px;
  z-index: 10;
}

/* line 212, ../styles.scss */
#a0 {
  background-color: #e74c3c;
}
/* line 214, ../styles.scss */
#a0:after {
  border-left-color: #e74c3c;
}

/* line 219, ../styles.scss */
#a0:hover {
  background-color: #c0392b;
}
/* line 221, ../styles.scss */
#a0:hover:after {
  border-left-color: #c0392b;
}

/* line 226, ../styles.scss */
#b0 {
  background-color: #1abc9c;
}
/* line 228, ../styles.scss */
#b0:after {
  border-left-color: #1abc9c;
}

/* line 233, ../styles.scss */
#b0:hover {
  background-color: #16a085;
}
/* line 235, ../styles.scss */
#b0:hover:after {
  border-left-color: #16a085;
}

/* line 240, ../styles.scss */
#c0 {
  background-color: #3498db;
}
/* line 242, ../styles.scss */
#c0:after {
  border-left-color: #3498db;
}

/* line 247, ../styles.scss */
#c0:hover {
  background-color: #2980b9;
}
/* line 249, ../styles.scss */
#c0:hover:after {
  border-left-color: #2980b9;
}

/* line 254, ../styles.scss */
#i0 {
  background-color: #9b59b6;
}
/* line 256, ../styles.scss */
#i0:after {
  border-left-color: #9b59b6;
}

/* line 261, ../styles.scss */
#i0:hover {
  background-color: #8e44ad;
}
/* line 263, ../styles.scss */
#i0:hover:after {
  border-left-color: #8e44ad;
}

/* line 268, ../styles.scss */
#l0 {
  background-color: #e67e22;
}
/* line 270, ../styles.scss */
#l0:after {
  border-left-color: #e67e22;
}

/* line 275, ../styles.scss */
#l0:hover {
  background-color: #d35400;
}
/* line 277, ../styles.scss */
#l0:hover:after {
  border-left-color: #d35400;
}

/* line 282, ../styles.scss */
.example {
  font-size: 25px;
  color: #34495e;
  text-decoration: underline;
}
