body{
  -webkit-text-size-adjust: 100%;
}

a{
  text-decoration: none;
}

header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(6, 6, 6, .45);
}

#container{
  margin: 0 auto 0 auto;
}

.segment{
	display: block;
	position: absolute;
	width: 55px;
	height: 55px;
	background: #333333;
}